{% load static %}
<link rel="stylesheet" href="{% static "oddsboard/style.css" %}" />

<style>
.block {
  height: 400px;
  width: 400px;
  margin: 0 auto;
  float: none;
  padding: 30px;
}

</style>

{% if block %}

  {% if block.inMainChain %}
    <div class="block old">#{{ block.height }}</br>
      miner: {{ block.miner.name }}</div>
  {% else %}
    <div class="block">#{{ block.height }}</br>which pool?</br>value: {{ block.totalBetAmount }}Ƀ</br>bets: {{ block.totalBets }}

    {% if block.betcombination_set.all %}
    <ul>
      {% for bc in block.betcombination_set.all %}
        {% for bet in bc.deposit_set.all %}
          <li>{{ bc.miner.name }} -- {{ bet.amount }}Ƀ</li>
        {% endfor %}
      {% endfor %}
    </ul>
    {% endif %}

    </div>


  {% endif %}



{% else %}
    <p>no block!</p>
{% endif %}
