{% load static %}
<link rel="stylesheet" href="{% static "oddsboard/style.css" %}" />

{% if blocks %}

  {% for b in blocks %}
    {% if b.inMainChain %}
      <div class="block old">#{{ b.height }}</br>
        miner: {{ b.miner.name }}</div>
    {% else %}
      <div class="block"><a href="{% url 'oddsboard:detail' b.height %}">#{{ b.height }}</a></br>which pool?</br>value: {{ b.totalBetAmount }}Ƀ</br>bets: {{ b.totalBets }}</div>
    {% endif %}
  {% endfor %}

{% else %}
    <p>no blocks!</p>
{% endif %}
